<!doctype html>
<html lang="en" ng-app="phoneCatalogueApp">
	<head>
		<meta charset="utf-8">
		<title>Phone Store</title>

		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/app.css" rel="stylesheet">

		<script src="/static/js/lib/angular.min.js"></script>
		<script src="/static/js/lib/angular-route.min.js"></script>
		
		<script src="/static/js/modules/phoneCatalogue.js"></script>
		<script src="/static/js/controllers/phoneCatalogue.js"></script>
		<script src="/static/js/controllers/phoneDetail.js"></script>		
		
	</head>
	<body>	
		<div ng-view></div>
	</body>	
</html>